<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509060045990-7p5p5v3ooq5pptvpjkedq1o20m97ua2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509060045990-7p5p5v3ooq5pptvpjkedq1o20m97ua2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBNxMGlU9WYMK3n3J9UOKWLJnmmWUOLbj8</string>
	<key>GCM_SENDER_ID</key>
	<string>509060045990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webzino.runmile</string>
	<key>PROJECT_ID</key>
	<string>push-notification-80efe</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-80efe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:509060045990:ios:3474df33e3b241d8</string>
	<key>DATABASE_URL</key>
	<string>https://push-notification-80efe.firebaseio.com</string>
</dict>
</plist>